n8n/amazon_oauth.json
{
    "name": "Amazon SP-API OAuth - Fixed",
    "nodes": [
        {
            "parameters": {
                "path": "auth/amazon/start",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "amazon-start-webhook",
            "name": "Start Webhook"
        },
        {
            "parameters": {
                "jsCode": "const user_id = ($json.query.user_id || '').toString().trim();\nif (!user_id) {\n  throw new Error('Missing user_id parameter');\n}\n\n// Generate state with owner_id\nconst statePayload = {\n  owner_id: user_id,\n  nonce: Math.random().toString(36).substring(2),\n  timestamp: Date.now()\n};\n\nconst stateJson = JSON.stringify(statePayload);\nconst state = Buffer.from(stateJson).toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/g, '');\n\nconst applicationId = $env.AMAZON_APPLICATION_ID;\n\nif (!applicationId) {\n  throw new Error('AMAZON_APPLICATION_ID environment variable not set');\n}\n\n// NOTE: Remove version=beta for production apps\nconst authUrl = 'https://sellercentral.amazon.com/apps/authorize/consent?' +\n  `application_id=${applicationId}&` +\n  `state=${state}&` +\n  `version=beta`; // Remove this in production!\n\nreturn {\n  json: {\n    auth_url: authUrl,\n    state: state\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                0
            ],
            "id": "generate-auth-url",
            "name": "Generate Auth URL"
        },
        {
            "parameters": {
                "respondWith": "redirect",
                "redirectURL": "={{$json.auth_url}}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                400,
                0
            ],
            "id": "redirect-to-amazon",
            "name": "Redirect to Amazon"
        },
        {
            "parameters": {
                "path": "auth/amazon/callback",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "id": "callback-webhook",
            "name": "Callback Webhook"
        },
        {
            "parameters": {
                "jsCode": "const query = $json.query || {};\nconst code = query.spapi_oauth_code;  // Note: Different from standard 'code'\nconst sellerId = query.selling_partner_id;\nconst mwsAuthToken = query.mws_auth_token;  // Optional, for MWS migration\nconst state = query.state;\n\nif (!code || !sellerId || !state) {\n  throw new Error('Missing required Amazon callback parameters');\n}\n\n// Decode state\nfunction base64UrlToString(input) {\n  const pad = '='.repeat((4 - (input.length % 4)) % 4);\n  const b64 = (input + pad).replace(/-/g, '+').replace(/_/g, '/');\n  return Buffer.from(b64, 'base64').toString('utf8');\n}\n\nlet owner_id;\ntry {\n  const decoded = base64UrlToString(state);\n  const parsed = JSON.parse(decoded);\n  owner_id = parsed.owner_id;\n} catch (e) {\n  throw new Error('Invalid state parameter');\n}\n\nreturn {\n  json: {\n    spapi_oauth_code: code,\n    selling_partner_id: sellerId,\n    mws_auth_token: mwsAuthToken,\n    owner_id: owner_id\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "id": "parse-callback",
            "name": "Parse Amazon Callback"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.amazon.com/auth/o2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "grant_type",
                            "value": "authorization_code"
                        },
                        {
                            "name": "code",
                            "value": "={{$json.spapi_oauth_code}}"
                        },
                        {
                            "name": "client_id",
                            "value": "={{$env.AMAZON_CLIENT_ID}}"
                        },
                        {
                            "name": "client_secret",
                            "value": "={{$env.AMAZON_CLIENT_SECRET}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                300
            ],
            "id": "exchange-for-refresh-token",
            "name": "Exchange for Refresh Token"
        },
        {
            "parameters": {
                "jsCode": "const response = $json;\n\nif (!response.refresh_token) {\n  throw new Error('No refresh token received from Amazon LWA');\n}\n\n// Store the refresh token (this is the permanent credential)\nreturn {\n  json: {\n    owner_id: $('Parse Amazon Callback').item.json.owner_id,\n    selling_partner_id: $('Parse Amazon Callback').item.json.selling_partner_id,\n    refresh_token: response.refresh_token,\n    // We also get an access token here, but DON'T store it\n    // It expires in 1 hour - we'll generate new ones on-demand\n    initial_access_token: response.access_token,\n    token_type: response.token_type\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "extract-refresh-token",
            "name": "Extract Refresh Token"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE public.shops\nSET \n  amazon_connected = true,\n  amazon_seller_id = '{{$json.selling_partner_id}}',\n  amazon_refresh_token = '{{$json.refresh_token}}',\n  amazon_marketplace_id = 'A33AVAJ2PDY3EV',  -- Turkey/EU marketplace\n  amazon_region = 'eu-west-1',\n  is_active = true,\n  last_token_refresh_at = NOW()\nWHERE owner_id = '{{$json.owner_id}}';\n\n-- Insert if not exists\nINSERT INTO public.shops (\n  owner_id,\n  amazon_connected,\n  amazon_seller_id,\n  amazon_refresh_token,\n  amazon_marketplace_id,\n  amazon_region,\n  is_active,\n  created_at\n)\nSELECT \n  '{{$json.owner_id}}',\n  true,\n  '{{$json.selling_partner_id}}',\n  '{{$json.refresh_token}}',\n  'A33AVAJ2PDY3EV',\n  'eu-west-1',\n  true,\n  NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.shops WHERE owner_id = '{{$json.owner_id}}'\n);",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                800,
                300
            ],
            "id": "store-credentials",
            "name": "Store Amazon Credentials",
            "credentials": {
                "postgres": {
                    "id": "QyLuD28JpwvMjOqS",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "redirect",
                "redirectURL": "={{$env.FRONTEND_URL || 'http://localhost:3000'}}/settings?amazon_connected=true&requires_aws_setup=true",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1000,
                300
            ],
            "id": "redirect-success",
            "name": "Redirect to App"
        }
    ],
    "connections": {
        "Start Webhook": {
            "main": [
                [
                    {
                        "node": "Generate Auth URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Auth URL": {
            "main": [
                [
                    {
                        "node": "Redirect to Amazon",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Callback Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Amazon Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Amazon Callback": {
            "main": [
                [
                    {
                        "node": "Exchange for Refresh Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Exchange for Refresh Token": {
            "main": [
                [
                    {
                        "node": "Extract Refresh Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Refresh Token": {
            "main": [
                [
                    {
                        "node": "Store Amazon Credentials",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Amazon Credentials": {
            "main": [
                [
                    {
                        "node": "Redirect to App",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}